<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuyu.gaosuproject">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- *******************危险权限，需要动态添加******************* -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ************************ 高德地图所需权限***************************** -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ************************* 高德定位所需权限******************************* -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 读取SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 自动聚焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name=".application.GaoSuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0018c9d4a3776bda554a7055388d4175" />

        <service android:name="com.amap.api.location.APSService" />
        <!-- 登录页 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--设置页-->
        <activity
            android:name=".activity.LogoutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!-- 主页 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 启动页 -->
        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 权限检测页面 -->
        <activity
            android:name=".activity.PermissionsActivity"
            android:screenOrientation="portrait" />
        <!-- 移动考勤页面 -->
        <activity
            android:name=".activity.MobileSignActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 签到页面 -->
        <activity
            android:name=".activity.SignActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 检查表填报页面 -->
        <!-- 图片查看 -->
        <activity
            android:name=".activity.PhotoSeeActivity"
            android:screenOrientation="portrait" />
        <!-- 管理员日志 -->
        <activity
            android:name=".activity.AddManagerLogActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 请假界面 -->
        <activity
            android:name=".activity.LeaveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 考勤记录页面 所有的webview -->
        <activity
            android:name=".activity.SignNodeWebActivity"
            android:screenOrientation="portrait" />
        <!-- 所有人打卡记录 -->
        <activity
            android:name=".activity.SignAllPersonNodeActivity"
            android:screenOrientation="portrait" />
        <!-- 未打卡记录 -->
        <activity
            android:name=".activity.SignNotActivity"
            android:screenOrientation="portrait" />
        <!-- 个人记录 -->
        <activity
            android:name=".activity.SignOnserlfActivity"
            android:screenOrientation="portrait" />
        <!-- 水电工日志 -->
        <activity
            android:name=".activity.AddWaterElectricianActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 日志管理 -->
        <activity
            android:name=".activity.LogManageActivity"
            android:screenOrientation="portrait" />
        <!--日常检查表填报-->
        <activity
            android:name=".activity.DailyCheckListFillActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!--扫描二维码-->
        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:screenOrientation="portrait" />
        <!--日常检查-->
        <activity
            android:name=".activity.DailyCheckActivity"
            android:screenOrientation="portrait" />
        <!--日常检查项目详细列表-->
        <activity
            android:name=".activity.DailyCheckProjectquery"
            android:screenOrientation="portrait" />
        <!--日常服务区项目上传日报-->
        <activity
            android:name=".activity.DailyCheckServiceareaProjectFillActivity"
            android:screenOrientation="portrait"></activity>
        <!--服务器设置-->
        <activity
            android:name=".activity.ServiceIPActivity"
            android:screenOrientation="portrait"></activity>
        <!--测试的-->
        <activity android:name=".activity.TestActivity"/>
        <!--监听网络状态广播  静态注册在7.0后失效  需要动态注册-->
        <!--<receiver android:name=".recevier.NetCheckReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>-->
        <!-- 7.0读取文件权限  需要一个provFider -->

        <service android:name=".service.UpLoadSercvice">


        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ysj.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>